form {
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
}

label {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

input {
  background-color: var(--color-speed-fondo);
  padding: 0.5rem;
}

.icon-input {
  position: relative;
}

.icon-input .icon {
  position: absolute;
  top: 38px;
  left: 10px;
  color: gray;
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.icon-input input {
  background-color: var(--color-speed-fondo);
  color: white;
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

.icon-input input:focus {
  outline: 1px solid var(--color-speed-acento);
}

.icon-input input:focus+.icon {
  color: var(--color-speed-acento);
}

.toggle-password {
  position: absolute;
  top: 36px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-icon {
  width: 20px;
  height: 20px;
  color: gray;
  transition: color 0.3s ease;
}

.toggle-password:hover .eye-icon {
  color: var(--color-speed-acento);
}

.divForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 5px;
}

.form-link {
  text-align: right;
  font-size: 0.9rem;
  color: var(--color-speed-acento);
  cursor: pointer;
}

.buttonRegister {
  background-color: var(--color-speed-acento);
  color: black;
  border: none;
  padding: 0.6rem 1rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonRegister:hover {
  background-color: var(--color-speed-acento-hover);
  transform: translateY(-2px);
}

.buttonRegister:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-speed-texto);
}


@media (max-width: 480px) {
  form {
    padding: 1rem;
  }

  label {
    font-size: 0.8rem;
  }

  .icon-input .icon {
    top: 35px;
    left: 8px;
    width: 16px;
    height: 16px;
  }

  input {
    font-size: 0.9rem;
  }

  .buttonRegister {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .login-footer {
    font-size: 0.8rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  form {
    max-width: 400px;
    margin: 0 auto;
  }

  input {
    font-size: 1rem;
  }

  .buttonRegister {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  form {
    max-width: 450px;
    margin: 0 auto;
  }
}
