<header class="min-h-[85vh] bg-speed-fondo text-speed-texto p-4 md:p-8 font-sans bg-fixed bg-no-repeat" style="background-image:
       radial-gradient(ellipse 50% 70% at 25% 25%, var(--color-speed-acento-glow), transparent 80%),
       radial-gradient(ellipse 50% 70% at 75% 75%, var(--color-speed-acento-glow), transparent 80%);">
    <div>
        <span>DISPONIBLE PARA PC</span>
        <div>
                <h1>CONQUISTA</h1>
                <h1>LAS</h1>
                <h1>COLINAS</h1>
        </div>
        <p>Vive la aventura definitiva de carreras en 2D. Descarga <span class="text-yellow-300">Speed</span>. Mejora tu vehículo, domina terrenos imposibles y lidera los rankings mundiales.</p>

        <div>
            <button><img src="/downloadBlack.svg" alt="download icon"/>DESCARGAR AHORA</button>
            <button>
              <a href="/maps" target="_blank">¡Visita los mapas que tenemos para ti!</a>
              </button>
        </div>

        <div>
            <div>
                <span>50K+</span>
                <p>Jugadores Activos</p>
            </div>

            <div class="divisor"></div>
            <div>
                <span>4.9</span>
                <p>Valoración</p>
            </div>

            <div class="divisor"></div>
            <div>
                <span>100+</span>
                <p>Desafíos</p>
            </div>


        </div>
    </div>


    <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/attachments/gen-images/public/racing-game-car-climbing-hill-2d-pixel-art-style-LntothQF4GQyPbbWADuhbhm5tiFIai.jpg" alt="Game image">
</header>
