<header>
    <div>
        <span>AVAILABLE FOR PC</span>
        <div>
                <h1>CONQUER</h1>
                <h1>THE</h1>
                <h1>HILLS</h1>
        </div>
        <p>Experience the ultimate 2D racing adventure. Upgrade your vehicle, master impossible terrain, and dominate the global leaderboards.</p>

        <div>
            <button><img src="/download.svg" alt="download icon"/>DOWNLOAD NOW</button>
            <button>WATCH TRAILER</button>
        </div>

        <div>
            <div>
                <span>50K+</span>
                <p>Active Players</p>
            </div>

            <div class="divisor"></div>
            <div>
                <span>4.9</span>
                <p>User Rating</p>
            </div>

            <div class="divisor"></div>
            <div>
                <span>100+</span>
                <p>Challenges</p>
            </div>

            
        </div>
    </div>


    <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/attachments/gen-images/public/racing-game-car-climbing-hill-2d-pixel-art-style-LntothQF4GQyPbbWADuhbhm5tiFIai.jpg" alt="Game image">
</header>
