<section class="bg-speed-fondo text-speed-texto p-4 md:p-8 font-sans bg-fixed bg-no-repeat" style="background-image:
       radial-gradient(ellipse 50% 70% at 75% 75%, var(--color-speed-acento-glow), transparent 80%),
       radial-gradient(ellipse 50% 70% at 25% 25%, var(--color-speed-acento-glow), transparent 80%);">
    <h2>DISEÑADO PARA <span>CAMPEONES</span></h2>

    <p>Cada característica diseñada para ofrecer la experiencia de carreras más emocionante en PC.</p>


    <div>
        <div>
            <img src="/tool.svg" alt="upgrade icon" />
            <span>SISTEMA DE MEJORAS</span>

            <p>Personaliza y mejora tu vehículo con docenas de actualizaciones. Aumenta la potencia del motor, la suspensión, los neumáticos y más para dominar cualquier terreno.</p>
        </div>
        <div>
            <img src="/map.svg" alt="maps icon" />
            <span>MÚLTIPLES MAPAS</span>

            <p>Explora diversos entornos, desde dunas desérticas hasta montañas nevadas. Cada mapa presenta desafíos únicos y obstáculos que superar.</p>
        </div>
        <div>
            <img src="/ranking.svg" alt="chart icon" />
            <span>RANKINGS GLOBALES</span>

            <p>Compite contra jugadores de todo el mundo. Escala en las tablas de clasificación y demuestra que eres el campeón definitivo de la colina.</p>
        </div>
        <div>
            <img src="/car.svg" alt="physics icon" />
            <span>MOTOR DE FÍSICAS</span>

            <p>Experimenta físicas de vehículos realistas que hacen que cada salto, voltereta y aterrizaje se sienta auténtico y satisfactorio.</p>
        </div>
    </div>
</section>
