<section>
    <h2>START YOUR <span>JOURNEY NOW</span></h2>

    <p>Download RaceClimb for free and join thousands of players conquering the hills.</p>

    <button><img src="/download.svgz" alt="download button">DOWNLOAD FOR PC</button>

    <p>SYSTEM REQUIREMENTS</p>

    <div>
        <div>
            <img src="/public/favicon.ico" alt="PC Icon">
            <span>OS</span>
            <p>Windows 10/11</p>
        </div>
        <div>
            <img src="/public/favicon.ico" alt="Processor Icon">
            <span>PROCESSOR</span>
            <p>AMD Ryzen 3 / Intel I5</p>
        </div>
        <div>
            <img src="/public/favicon.ico" alt="Storage Icon">
            <span>STORAGE</span>
            <p>Windows 10/11</p>
        </div>
        <div>
            <img src="/public/favicon.ico" alt="Graphics Icon">
            <span>GRAPHICS</span>
            <p>DirectX 11 compatible</p>
        </div>
    </div>
</section>