<section class="min-h-screen bg-speed-fondo text-speed-texto p-4 md:p-8 font-sans bg-fixed bg-no-repeat" style="background-image:
       radial-gradient(ellipse 50% 70% at 75% 75%, var(--color-speed-acento-glow), transparent 80%),
       radial-gradient(ellipse 50% 70% at 25% 25%, var(--color-speed-acento-glow), transparent 80%);">
    <h2>COMIENZA TU <span>VIAJE AHORA</span></h2>

    <p>Descarga Speed gratis y únete a miles de jugadores conquistando las colinas.</p>

    <div>
        <button><img src="/downloadBlack.svg" alt="download button">DESCARGAR PARA PC</button>
        <button><img src="/downloadBlack.svg" alt="download button">DESCARGAR APP ANDROID</button>
    </div>

    <p>REQUISITOS DEL SISTEMA</p>

    <div>
        <div>
            <img src="/monitor.svg" alt="PC Icon">
            <span>SO</span>
            <p>Windows 10/11</p>
        </div>
        <div>
            <img src="/processor.svg" alt="Processor Icon">
            <span>PROCESADOR</span>
            <p>AMD Ryzen 3 / Intel I5</p>
        </div>
        <div>
            <img src="/storage.svg" alt="Storage Icon">
            <span>ALMACENAMIENTO</span>
            <p>Windows 10/11</p>
        </div>
        <div>
            <img src="/graphics.svg" alt="Graphics Icon">
            <span>GRÁFICOS</span>
            <p>Compatible con DirectX 11</p>
        </div>
    </div>
</section>
