nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: oklch(0% 0 0);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 20px rgba(211, 157, 40, 0.2);
}

nav img {
    height: 60px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: oklch(.85 .18 85);
    cursor: pointer;
}

nav a {
    color: oklch(.65 .02 240);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: oklch(.85 .18 85);
}

.btn-download,
.btn-login {
    background-color: oklch(.85 .18 85);
    color: oklch(.12 .01 240) !important;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

.btn-download:hover,
.btn-login:hover {
    background-color: oklch(.9 .2 85);
    transform: translateY(-2px);
    color: oklch(.12 .01 240);
}

.profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-speed-acento);
    transition: transform 0.5s ease;
}

.profile-btn:hover {
    color: white;
    transform: scale(1.1);
}

@media (max-width: 770px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: oklch(.12 .01 240);
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 0;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, padding 0.4s ease;
        box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    }

    .nav-links.active {
        max-height: 500px;
        padding: 2rem 0;
        border-top: 1px solid rgba(255,255,255,0.1);
    }


    .nav-links a,
    .nav-links button {
        margin: 10px 0;
        width: 80%;
        text-align: center;
    }

    .btn-download,
    .btn-login {
        width: 80%;
    }
}
