<nav>
    <a routerLink="/">
        <img src="/logoBien.webp" alt="Speed logo">
    </a>

    <div>
        <a routerLink="/features">ACTUALIZACIONES</a>
        <a routerLink="/leaderboard">RANKING</a>

        <button class="btn-download">DESCARGAR</button>

        @if (isLoggedIn) {
            <a routerLink="/profile" class="profile-btn" [title]="'Ir al perfil de ' + userName">
                <ng-icon name="heroUserCircle" class="text-3xl"></ng-icon>
                <span class="text-sm font-bold ml-2">{{ userName }}</span>
            </a>
        } @else {
            <a routerLink="/auth/login">
                <button class="btn-login">INICIAR SESION</button>
            </a>
        }
    </div>
</nav>
