<footer>
    <div>
        <h3>THE <span>SPEED</span></h3>
        <p>El mejor juego de carreras 2D para PC.</p>
    </div>

    <div>
        <h3>JUEGO</h3>
        <a href="">Características</a>
        <a href="">Descargar</a>
        <a href="">Actualizaciones</a>
    </div>

    <div>
        <h3>COMUNIDAD</h3>
        <a href="">Discord</a>
        <a href="">Soporte</a>
        <a href="">Facebook</a>
    </div>

    <div class="followUs">
        <h3>SÍGUENOS</h3>
        <div>
            <a href=""><img src="/facebook.svg" alt="Facebook icon"></a>
            <a href=""><img src="/instagram.svg" alt="Instagram icon"></a>
            <a href=""><img src="/tiktok.svg" alt="Tiktok icon"></a>
        </div>
    </div>
</footer>
