<footer>
    <div>
        <h3>RACE<span>CLIMB</span></h3>
        <p>The ultimate 2D hill climbing racing game for PC.</p>
    </div>

    <div>
        <h3>GAME</h3>
        <a href="">Features</a>
        <a href="">Download</a>
        <a href="">Updates</a>
    </div>

    <div>
        <h3>COMMUNITY</h3>
        <a href="">Discord</a>
        <a href="">Support</a>
        <a href="">Facebook</a>
    </div>

    <div class="followUs">
        <h3>FOLLOW US</h3>
        <div>
            <a href=""><img src="/facebook.svg" alt="Facebook icon"></a>
            <a href=""><img src="/instagram.svg" alt="Instagram icon"></a>
            <a href=""><img src="/tiktok.svg" alt="Tiktok icon"></a>
        </div>
    </div>
</footer>