<section>
    <div>
        <span>
            <img src="/chartIcon.svg" alt="arrow up icon">
            LIVE RANKINGS
        </span>
    
        <h2>GLOBAL <span>LEADERBOARD</span></h2>
        <p>Compete with the best players around the world. Every race counts, every second matters.</p>
    </div>

        <div>
        @if (topPlayers.length === 0) {
            <p style="color: white; text-align: center;">Loading top players...</p>
        }

        @for (player of topPlayers; track $index) {
            <div>

                <img src="/speedLogo.jpeg" alt="number icon">

                <div>
                    <span>{{ player.username }}</span>
                    <p>UTM</p>
                </div>

                <div>
                    <span>{{ player.high_score }}</span>
                    <p>POINTS</p>
                </div>
            </div>
        }
    </div>
</section>