<section  class="bg-speed-fondo text-speed-texto p-4 md:p-8 font-sans bg-fixed bg-no-repeat" style="background-image:
       radial-gradient(ellipse 50% 70% at 25% 25%, var(--color-speed-acento-glow), transparent 80%),
       radial-gradient(ellipse 50% 70% at 75% 75%, var(--color-speed-acento-glow), transparent 80%);">
    <div>
        <span>
            <img src="/chartIcon.svg" alt="arrow up icon">
            RANKING EN VIVO
        </span>

        <h2>RANKING <span>GLOBAL</span></h2>
        <p>Compite con los mejores jugadores de todo el mundo. Cada carrera cuenta, cada segundo importa.</p>
    </div>

    <div>
        @if (topPlayers.length === 0) {
            <p style="color: white; text-align: center;">Cargando los mejores jugadores...</p>
        }

        @for (player of topPlayers; track $index) {
            <div>
                <img src="/speedLogo.jpeg" alt="number icon">

                <div>
                    <span>{{ player.display_name }}</span>
                    <p>UTM</p>
                </div>

                <div>
                    <span>{{ player.total_score }}</span>
                    <p>PUNTOS</p>
                </div>
            </div>
        }
    </div>
</section>
