<section>
    <div>
        <span>
            <img src="/public/favicon.ico" alt="arrow up icon">
            LIVE RANKINGS
        </span>
    
        <h2>GLOBAL <span>LEADERBOARD</span></h2>
        <p>Compete with the best players around the world. Every race counts, every second matters.</p>
    </div>

    <div>
        <div>
            <img src="/public/speedLogo.jpeg" alt="number icon">

            <div>
                <span>DiegoPasaye</span>
                <p>UTM</p>
            </div>

            <div>
                <span>2930</span>
                <p>POINTS</p>
            </div>
        </div>
        <div>
            <img src="/public/speedLogo.jpeg" alt="number icon">

            <div>
                <span>DiegoPasaye</span>
                <p>UTM</p>
            </div>

            <div>
                <span>2930</span>
                <p>POINTS</p>
            </div>
        </div>
        <div>
            <img src="/public/speedLogo.jpeg" alt="number icon">

            <div>
                <span>DiegoPasaye</span>
                <p>UTM</p>
            </div>

            <div>
                <span>2930</span>
                <p>POINTS</p>
            </div>
        </div>
    </div>
</section>