@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: all 0.3s ease;
  animation: fadeIn 0.5s;
}

@layer base {
  .dark {
    --color-speed-fondo: #000000;
    --color-speed-superficie-1: #303038;
    --color-speed-superficie-2: #383840;
    --color-speed-superficie-3: #121D23;
    --color-speed-acento: #ffd21d;
    --color-speed-acento-hover: #dbb21f;
    --color-speed-acento-glow: rgba(250, 204, 21, 0.1);
    --color-speed-texto: #faf8f5;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-speed-fondo);
    color: var(--color-speed-texto);
    font-family: 'Montserrat', sans-serif;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  background: none !important;
  box-shadow: none !important;
}

.success-snackbar .mdc-snackbar__surface {
  background-color: #2ecc71 !important; /* Verde éxito */
  color: #fff !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #e74c3c !important; /* Rojo error */
  color: #fff !important;
}

.info-snackbar .mdc-snackbar__surface {
  background-color: #3498db !important; /* Azul info */
  color: #fff !important;
}

.success-snackbar .mdc-snackbar__action,
.error-snackbar .mdc-snackbar__action,
.info-snackbar .mdc-snackbar__action {
  color: #fff !important;
  font-weight: 600;
}

.mdc-snackbar__surface {
  border-radius: 8px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25) !important;
}

