
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: all 0.3s ease;
  animation: fadeIn 0.5s;
}

@layer base {
  .dark {
    --color-speed-fondo: #000000;
    --color-speed-superficie-1: #303038;
    --color-speed-superficie-2: #383840;
    --color-speed-superficie-3: #121D23;
    --color-speed-acento: #ffd21d;
    --color-speed-acento-hover: #dbb21f;
    --color-speed-acento-glow: rgba(250, 204, 21, 0.1);
    --color-speed-texto: #faf8f5;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-speed-fondo);
    color: var(--color-speed-texto);
    font-family: 'Montserrat', sans-serif;
  }
}
